<h1>Método Natural App</h1>
<p>Aplicación web para utilizar y compartir un método natural de autonocimiento del cuerpo y sus ciclos. Para buscar una solución anticonceptiva y/o una planificación familiar.... </p>

<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
